<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="~/style/site.css" type="text/css"/>
	<meta charset="utf-8"/>
	<title>WACe001 - @ViewBag.Title</title>
</head>
<body>
	<div>
		<div id="sidebar">
			<img class="userIcon" alt="Aww, it's you!" src="~/media/secret-user.png"/>
			<span id="fullName">Your Name</span>
			<ul id="menu">
				<li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
				<li><a asp-controller="App" asp-action="About">About</a></li>
				<li><a asp-controller="App" asp-action="Contact">Contact</a></li>
			</ul>
		</div>
		<div id="mainWrapper">
			<header>
				<button id="sidebarToggle" class="btn btn-primary">
					<i class="fa fa-angle-left"></i>
				</button>
			</header>
			<div id="main">
				@RenderBody()
			</div>
			<footer>
				<p class="text-primary">&copy; Foot-in-mouth disease.</p>
			</footer>
		</div>
	</div>
	<!-- bootstrap must follow jQuery -->
	<script language="javascript" src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script language="javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script language="javascript" src="~/script/global.js" type="text/javascript"></script>
	<script language="javascript" src="~/script/site.js" type="text/javascript"></script>
	@RenderSection("script", false)
</body>
</html>