<div>
	<!-- todo|jdevl32: fix (not working) !!! -->
	<input id="isDev" name="isDev" type="hidden" data-ng-model="vm.isDev" value="true" />
	<div class="col-md-6">
		<h1>WACe001</h1>
		<spinner while="vm.isBusy">Loading trip(s)...</spinner>
		<div class="text-danger" data-ng-bind="vm.errorMessage" data-ng-show="vm.errorMessage"></div>
		<table class="table table-responsive table-striped">
			<tr data-ng-repeat="trip in vm.trip">
				<td data-ng-bind="trip.name"></td>
				<td data-ng-bind="trip.createTimestamp | date:'yyyy-MM-dd'"></td>
				<td><a data-ng-href="#!/edit/{{trip.name}}" class="btn btn-sm btn-primary">Manage</a></td>
			</tr>
		</table>
		<form name="newTrip" novalidate data-ng-submit="vm.AddTrip()">
			<div class="form-group">
				<label for="name">Trip Name:</label>
				<input class="form-control" type="text" id="name" name="name" data-ng-model="vm.newTrip.name" required data-ng-minlength="1" />
				<span data-ng-show="newTrip.name.$error.required" class="text-warning">Give it a name!</span>
				<span data-ng-show="newTrip.name.$error.minlength" class="text-warning">Keep typing!</span>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Add Trip" data-ng-disabled="newTrip.$invalid" />
			</div>
		</form>
	</div>
</div>
