
@model WACe001.ViewModel.ContactViewModel

@{
	ViewBag.Title = "Reach out and touch someone";
}

@section script
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h2>Drop Us A Line</h2>

<form method="post">
	<div asp-validation-summary="ModelOnly"></div>
	
	@if (!string.IsNullOrWhiteSpace(ViewBag.UserMessage))
	{
		<div>@ViewBag.UserMessage</div>
	}

	<label asp-for="Name">Who are you?</label>
	<input asp-for="Name" type="text"/>
	<span asp-validation-for="Name"></span>
	<label asp-for="Email"></label>
	<input asp-for="Email" type="email"/>
	<span asp-validation-for="Email"></span>
	<label asp-for="Message">What on earth do you want?</label>
	<textarea asp-for="Message" cols="40" rows="4"></textarea>
	<span asp-validation-for="Message"></span>
	<div>
		<input type="submit" value="Push me"/>
	</div>
</form>
