
@{
	ViewBag.Title = "Homey don't play dat!";
}

<div class="row">
	<div class="col-md-12">
		<h1>WACe001 welcomes you!</h1>
		<p>You made it this far -- why not continue further?!</p>
		<a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-primary">View my trips</a>
	</div>
</div>
