@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Homey don't play dat!";
}

<div class="row">
	<div class="col-md-6">
		<h1>WACe001</h1>
		<p>Patience, my son!</p>
		<form>
			<div>
				<label>What time it was:</label>
				<input type="text" />
			</div>
			<div>
				<label>Where it was:</label>
				<input type="text" />
			</div>
			<div>
				<input type="submit" value="Add it!" />
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>What the fizzle?!</h2>
	</div>
</div>
