@model IEnumerable<WACe001.Entity.Interface.ITrip>

@{
	ViewBag.Title = "I'm trippin', dude!";
}

@section Script
{
	<script src="~/lib/angular/angular.min.js"></script>
	<script src="~/lib/angular-route/angular-route.min.js"></script>
	<script src="~/script/directive/spinner.js"></script>
	<script src="~/script/app/trip.js"></script>
	<script src="~/script/controller/trip.js"></script>
}

<div class="row" data-ng-app="app-trip">
	<div data-ng-view></div>
	<div class="col-md-6">
		<h2>What went down</h2>
		<ul>
			@foreach (var trip in Model)
			{
				<li>@trip.Name | @trip.CreateTimestamp.ToShortDateString()</li>
			}
		</ul>
	</div>
</div>
