@model IEnumerable<WACe001.Entity.Interface.ITrip>

@{
	ViewBag.Title = "I'm trippin', dude!";
}

@section Script
{
	<script src="~/lib/angular/angular.min.js"></script>
}

<div class="row" data-ng-app>
	<div>
		{{ 30 + 2 }}
	</div>
	<div class="col-md-6">
		<h1>WACe001</h1>
		<p>Patience, my son!</p>
		<form>
			<div class="form-group">
				<label>What time it was:</label>
				<input class="form-control" type="text"/>
			</div>
			<div class="form-group">
				<label>Where it was:</label>
				<input class="form-control" type="text"/>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Add it!"/>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>What went down</h2>
		<ul>
			@foreach (var trip in Model)
			{
				<li>@trip.Name : @trip.CreateTimestamp.ToShortDateString()</li>
			}
		</ul>
	</div>
</div>
