/**
	site.css
**/

footer
{
	background-color: #222;
	bottom: 0;
	color: #ddd;
	padding: 3px;
	position: fixed;
	width: 100%;
}

#main
{
	background-color: #ddd;
	color: #222;
	padding: 3px;
}

#mainWrapper
{
	margin: 0 0 0 300px;
	-ms-transition: margin-left ease .25s;
	-o-transition: margin-left ease .25s;
	-webkit-transition: margin-left ease .25s;
	transition: margin-left ease .25s;
}

#mainWrapper.hide-sidebar
{
	margin-left: 0;
	-ms-transition: margin-left ease .25s;
	-o-transition: margin-left ease .25s;
	-webkit-transition: margin-left ease .25s;
	transition: margin-left ease .25s;
}

#sidebar
{
	height: 100%;
	left: 0;
	margin: 0;
	overflow: hidden;
	position: fixed;
	-ms-transition: width ease .25s;
	-o-transition: width ease .25s;
	-webkit-transition: width ease .25s;
	transition: width ease .25s;
	width: 300px;
}

#sidebar.hide-sidebar
{
	width: 0;
	-ms-transition: width ease .25s;
	-o-transition: width ease .25s;
	-webkit-transition: width ease .25s;
	transition: width ease .25s;
}

#sidebar #menu li
{
	list-style-type: none;
}

.active
{
	font-style: italic;
	font-weight: bolder;
}

.userIcon
{
	max-width: 50px;
}
